<div class="container">
  <div class="row">
    <div class="col-md-6 img">
      <img src="https://media.licdn.com/dms/image/C4E03AQF2T1s2-g3uig/profile-displayphoto-shrink_200_200/0?e=1573689600&v=beta&t=YkNFStJn4KQNxvOn_T7dPR3wYmjYw_Swkuv_xzQllZc"  alt="" class="img-rounded">
    </div>
    <div class="col-md-6 details">
      <blockquote>
        <h5>Luis Ruano</h5>
        <small><cite title="Source Title">La Florida, R.M. Santiago de Chile<i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        E-mail: ru4n1t0@gmail.com <br>
        Teléfono: +56930780285 <br>
        Fecha de Nacimiento: Septiembre 11, 1991
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="col">
          <h1>Acerca de...</h1>
          <p>Ingeniero de sistemas con pasión por la programación, experiencia en planificación y control de proyectos.</p>
      </div>
  </div>
</div>