.container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}

img{
	border-radius: 50%;
	border: 5px rgba(0,123,255,.5) solid;
}