<h1>Test 1</h1>

<input type="" [value]="datos_ordenados" name="">

<button (click)="obtenerDataTest1()" type="button" class="btn btn-outline-primary float-right">Obtener Información</button>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Number</th>
      <th scope="col">Quantity</th>
      <th scope="col">First Position</th>
      <th scope="col">Last Position</th>
    </tr>
  </thead>
  <tbody *ngIf="!cargando&&datos_mostrar.length>0">
    <tr *ngFor="let dato of datos_mostrar; let i = index" [ngClass]="{'bg-success': dato.quantity>=2, 'bg-warning': dato.quantity==1, 'table-secondary': dato.quantity < 1}">
      <th scope="row">{{ i + 1}}</th>
      <td>{{ dato.numero }}</td>
      <td>{{ dato.quantity }}</td>
      <td>{{ dato.first_position }}</td>
      <td>{{ dato.last_position }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="cargando" class="text-center">
    <tr>
      <td colspan="5">Cargando</td>
    </tr>
  </tbody>
  <tbody *ngIf="!cargando && datos_mostrar.length==0">
    <tr>
      <td colspan="5">No hay datos</td>
    </tr>
  </tbody>
</table>
