<h1>Test 2</h1>

<button (click)="obtenerDataTest2()" type="button" class="btn btn-outline-primary ">Obtener Información</button>

<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">N°</th>
      
      <th scope="col" *ngFor="let letra of abecedario;">{{ letra }}</th>
      <th scope="col">Suma</th>
    </tr>
  </thead>
  <tbody *ngIf="!cargando">
    <tr *ngFor="let valor of datos; let i = index">
      <th scope="col">{{ i + 1 }}</th>
      
      <td scope="col" *ngFor="let letra of abecedario;">{{ valor[letra] }}</td>
      <th scope="col">{{ valor.suma }}</th>
    </tr>
  </tbody>
  <tbody *ngIf="cargando">
  	<tr>
  		<td colspan="28">Cargando Información</td>
  	</tr>
  </tbody>
</table>
