/* You can add global styles to this file, and also import other style files */
footer{
	color: white;
	width: 100%;
	position: fixed;
	bottom: 0px;
	border-radius: 10px 10px 0px 0px;
}

.main-container{
	margin-top: 20px;
}